modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["sh", "-c", "pnpm run build:prod"]
run = ["sh", "-c", "pnpm start"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 BASE_PATH=/api pnpm --filter @workspace/api-server run dev & PORT=20251 BASE_PATH=/ pnpm --filter @workspace/tawbah-web run dev"
waitForPort = 20251

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BE75hv5VZ5Wt-X6Kk_cOUb2hevJJWV7aODdln971UaReFQEjcxuhYVV7-ElRf3QxW1Pv8KqqVmnvz815vFxJgyA"
VAPID_PRIVATE_KEY = "XfVXXqRQrf-O9yU2dkalihqYyXMVsHkH9q2L86TRoas"
VAPID_EMAIL = "mailto:admin@tawbah.app"
